<div class="row">
  <div class="col-xs-12">
    <img src="https://cdn.pixabay.com/photo/2019/01/09/19/25/chocolate-cake-3924094_1280.jpg" alt="" class="img-responsive"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Chocolate Cake</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Rceipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <p>Brown Chocolate cake. Very tasty and yummy.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
